
header{
    margin-bottom: 20px;
    margin: auto;
}
.main{
    margin: auto;
    background-color: rgb(238, 224, 205);
    width: auto;
    min-width: 600px;
}

body{
    background-color: antiquewhite;   
}

header{
    background-color: rgb(247, 207, 154);
    width: 100%;
    height: 200px;
}
.nome{
    margin-top: 35px;
    margin-left: 10px;
    width:370px ;
}

.imagem{
    float: right;
    width: 100px;
    height: 100px;
    margin-top: 70px;
    margin-right:120px;
}
nav{
    margin-top: -50px;
    margin-left: -25px;
    font-size: 17px;
   
    
}
nav > a {
    margin-left: 70px;
    text-decoration: none;
    color: rgb(152, 79, 79);
    
    
}
nav > a:hover {
	background-color: rgb(152, 79, 79);
	border-radius: 15px;
    color: white;
    
}


#painel{
    background-color: rgb(249, 249, 249);
    border: solid 3px rgb(247, 207, 154);  ;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
    margin-left: 120px;
}

.livros{
    width: 150px;
    height:200px ;
    display: inline;
    margin: -50px;
    padding-left: 50px;
    
}


footer{
   margin-top: 10px;
   width: 100%;
   padding: 10px;
   text-align: center;
   background-color: rgb(237, 211, 172);
   color: rgb(33, 32, 32);
   box-shadow: 0px 0px 8px rgb(116, 114, 114);
}
   